[Unit]
Description=Lidar startup script

[Service]
ExeStart=/bin/bash -c '\
  source /home/hatcher/.bashrc; \
  /home/hatcher/boot.sh'

[Install]
WantedBy=multi-user.target
